<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <input type="button" id="purchase" value="구매">
    <input type="button" id="refund" value="환불">
    <input type="button" id="get_merchant_uid" value="merchant_uid 받기">
</body>
<script src ="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script th:src="@{/js/payment.js}"></script>
</html>